/jaxioms/.idea/
/*/target/
/.idea/
/experiments/.idea/
/jaxioms-kotlin/.idea/
/jaxioms-kotlin/annotations/target/
/jaxioms-kotlin/experiments/target/
/jaxioms-kotlin/models/target/
/jaxioms-kotlin/processors/target/
.DS_STORE
.idea/
**/.idea/
/**/target/
/annotations/target/
